@model CafeSystem.Controllers.HomeController

@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<h1 class="text-primary">Hello, admin!</h1>
<h3 class="text-secondary">You can edit, add and delete</h3>
<div class="row">
    <a class="btn btn-info col-3 mx-3" asp-controller="Category" asp-action="Index">Categories</a>
    <a class="btn btn-info col-3 mx-3" asp-controller="Dish" asp-action="Index">Dishes</a>
    <a class="btn btn-info col-3 mx-3" asp-controller="Employee" asp-action="Index">Employees</a>
</div>
