@using Microsoft.EntityFrameworkCore.Metadata.Conventions
@model Employee

@{
    ViewData["Title"] = Model.Id == 0 ? "Register new employee" : "Edit employee";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="All"></div>

<hr>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" placeholder="name" class="form-control">
        <label asp-for="Name">Name</label>
    </div>
    
    <div class="form-floating mb-3">
        <input asp-for="Surname" placeholder="surname" class="form-control">
        <label asp-for="Surname">Surname</label>
    </div>
    
    <div class="form-floating mb-3">
        <input asp-for="Phone" placeholder="phone" class="form-control">
        <label asp-for="Phone">Phone</label>
    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Password" placeholder="password">
        <label asp-for="Password">Password</label>
    </div>
    
    <div class="form-floating mb-3">
        <select asp-for="Role" class="form-select" asp-items="@Enum.GetValues<Role>().Select(v => new SelectListItem(v.ToString(), ((int)v).ToString()))">
            <option selected="selected" disabled="disabled">Select role</option>
        </select>
        <label asp-for="Role">Role</label>
    </div>
    
    <hr>
    
    <input type="hidden" asp-for="Id">
    
    
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</form>
