@model Category

@{
    ViewBag.Title = "Delete category";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<hr>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="name" disabled="disabled">
        <label asp-for="Name">Name</label>
    </div>
    
    <hr>
    
    <div class="btn-group">
        <input type="submit" class="btn btn-danger" value="Delete">
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>
